<h2>Persons</h2>

<ul>
	<% @persons.each do |person| %>
    <% present person do |person_presenter| %>
  		<li>
        <p><%= person_presenter.full_name %></p>
        <p><%= person_presenter.errors %></p>
  		</li>
    <% end %>
	<% end %>
</ul>